extends layout

block content
    div(class="row section center-align")
      div(class="col s12")
        div(class="card green lighten-3")
          div(class="card-content white-text")
            div(class="card-title") THE END IS NEAR
            p I have been playing this game for almost 5 years now. It was fun the first many years,
            | &nbsp; but its time to retire. I left the game and I will leave the site up for some time. But will not update it.
            p The atlas things has been opened also, since I had to close down the authentication account i used.
            | &nbsp; Either way, all alliances has similar tool anyway.

    div(class="row section center-align")
      div(class="col s12")
        h6(class="red-text lighten-3") Not everything on this site works on older versions of Internet Explorer. I could probably make it work
          | but its faster that you update to a more recent browser (Older IE does not work with recent versions of JavaScript).
