// Created by sandberg on 19/11/2018.


div(class="row section")
  label
    h4(class="label center-align") INFORMATION
div(class="row")
  div(class="col s12")
    table(class="striped")
      thead(class="green lighten-3")
        tr
          th INFO
          th VALUE
      tbody
        tr
          td TOTAL GP TO EXPERT
          td#riderGpSum 0 GP
        tr
          td GP COST
          td#riderGpCost test
        tr
          td SHARD COST
          td#riderShardCost
        tr
          td SKILLPOINTS SUM
          td#riderSkillSum
