// Created by sandberg on 19/11/2018.
div(class="row section")
  label
    h4(class="label center-align") LEVELS
div(class="row")
  div(class="col s12")
    table(class="striped" data-target="navbarcontainer")
      thead(class="green lighten-3")
        tr
          th LEVEL
          th GP TO THIS LEVEL
          th SKILLPOINTS GAINED
          th COST
      tbody#riderTable
